#s-eb270a93-43d6-464d-8cd8-9ebce35a0234 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-eb270a93-43d6-464d-8cd8-9ebce35a0234 #s-Table_1 {
  border-collapse: separate;
}
#s-eb270a93-43d6-464d-8cd8-9ebce35a0234 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}