#s-f5ba6248-49b9-4cbc-8f8f-39474d506b8d #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5ba6248-49b9-4cbc-8f8f-39474d506b8d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f5ba6248-49b9-4cbc-8f8f-39474d506b8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}