#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Panel_2 > .valign {
  vertical-align: middle;
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Label_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Label_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Label_29 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-main_header {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-main_header_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Label_65 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 127px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-d7df6e36-6b19-429b-ae85-d9e9c8958638 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}